<nav class="#212121 grey darken-4">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Filters</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="sass.html"></a><i class="material-icons">refresh</i></li>
            <li>
                <a href="badges.html"></a><i class="material-icons">clear</i></li>
        </ul>
    </div>
</nav>


<ul class="collapsible" data-collapsible="accordian">
    <li>
        <div class="collapsible-header"><i class="material-icons">add</i>Category</div>
        <div class="collapsible-body"><span>
      <form action="#">
        <p>
          <label>
            <input type="checkbox" />
              <span> -(61)</span>
            </label>
            </p>
            <p>
                <label>
            <input type="checkbox" />
              <span>Non Food</span>
            </label>
            </p>
            <p>
                <label>
            <input type="checkbox" />
              <span>House Keeping</span>
            </label>
            </p>
            <p>
                <label>
            <input type="checkbox" />
              <span>Stationery</span>
            </label>
            </p>
            <p>
                <label>
            <input type="checkbox" />
              <span>Edible Colors</span>
            </label>
            </p>
            <p>
                <label>
            <input type="checkbox" />
              <span>Beverages</span>
            </label>
            </p>
            </form>
            </span>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">add</i>Brand</div>
        <div class="collapsible-body"><span>
      <form action="#">
        <p>
          <label>
            <input type="checkbox" />
              <span>Unbranded</span>
            </label>
            </p>
            <p>
                <label>
            <input type="checkbox" />
              <span>Reginal</span>
            </label>
            </p>
            </form>
            </span>
        </div>
    </li>
    <li>

        <div class="collapsible-header"><i class="material-icons">add</i>Color</div>
        <div class="collapsible-body"><span>
      <form action="#">
        <p>
          <label>
            <input type="checkbox" />
              <span>White</span>
            </label>
            </p>
            <p>
                <label>
            <input type="checkbox" />
              <span>Orange</span>
            </label>
            </p>
            <p>
                <label>
            <input type="checkbox" />
              <span>Brown</span>
            </label>
            </p>
            </form>
            </span>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">add</i>Material</div>
        <div class="collapsible-body"><span>
</span></div>
    </li>
</ul>